header {
    height: 100px;
    background-color: lightcoral;
    color: #fff;
    text-align: center;
    /* padding-top: 20px; */
    margin-bottom: 20px;
}

body {
    background-color: lightcyan;
}

img {
    cursor: pointer;
}
